body {
    font-family: system-ui;
    background: none;
    color: black;
    page-break-before: always;
}

H1,
#confort,
#img,
#iframe,
.video,
.menu,
.menubouton,
#header,
#sidebar,
#footer {
    display: none;
}


/* URL */

a:link,
a:visited {
    background: transparent;
    color: #333;
    text-decoration: none;
}

a:link[href^="http://"]:after,
a[href^="http://"]:visited:after {
    content: " (" attr(href) ") ";
    font-size: 11px;
}

a[href^="http://"] {
    color: #000;
}